@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.todo-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f5f2f0; /* Color de fondo */
  border-radius: 10px;      /* Bordes redondeados */
}

input {
  padding: 10px;
  width: 70%;
  margin-right: 10px;
}

button {
  padding: 10px;
  margin-top: 10px;
}

.todo-container h1 {
  color: #d7a499;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.todo-input {
  background-color: #e8d0cb;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

.todo-button {
  background-color: #c08c80;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.todo-text {
  color: #877570;
  font-size: 16px;
}

.todo-action-button {
  background-color: #d7a499;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

#installButton {
  background-color: pink;       /* Color de fondo rosado */
  border: 2px solid hotpink;    /* Bordes de color rosa fuerte */
  color: black;                 /* Letra negra */
  padding: 10px 20px;           /* Espaciado interno (padding) */
  font-size: 16px;              /* Tamaño de la fuente */
  border-radius: 5px;           /* Bordes redondeados */
  cursor: pointer;              /* Cambia el cursor cuando pasa sobre el botón */
  display: none;
  margin: 0 auto;       /* Se muestra dinámicamente */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}

#installButton:hover {
  background-color: rgb(229, 171, 200);    /* Cambia el fondo al pasar el mouse */
  color: white;                 /* Cambia el color de la letra al pasar el mouse */
}

/* Estilos del contenedor principal */
.container {
  max-width: 600px;          /* Aumenta el ancho máximo del contenedor */
  margin: 0 auto;
  text-align: center;          /* Centrar contenido */
  margin-bottom: 20px;        /* Espacio en la parte inferior */
}

/* Estilos del banner */
.banner {
  background-color: #dca6ca;  /* Fondo rosa claro */
  color: black;               /* Texto negro */
  padding: 10px;              /* Espacio interno */
  border-radius: 5px;        /* Bordes redondeados */
  font-weight: bold;          /* Texto en negrita */
  margin-bottom: 10px;        /* Espacio entre el banner y el botón */
  font-size: 18px;            /* Tamaño de la fuente del banner */
}

/* Espacio entre el botón y el otro contenedor */
.otro-contenedor {
  margin-top: 20px;           /* Separación entre contenedores */
}
